<!-- templates/_navbar.html -->
<nav class="navbar navbar-expand-xl fixed-top {{ custom_class }}">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('recruiter.recruiter_index') }}">
        <img class="w-100" src="{{ url_for('static', filename='webpage/img/icon/jobseek-transparent.png') }}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-card-item">
            <a class="nav-link active" href="{{ url_for('recruiter.recruiter_index') }}">Home</a>
          </li>
          <li class="nav-card-item">
            <a class="nav-link" href="aboutus.html">About</a>
          </li>
          <li class="nav-card-item">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
          </li>
          <li class="nav-card-item">
            <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
          </li>
        </ul>
        <ul class="right navbar-nav ms-auto">
          <li class="nav-card-item-right dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="{{ url_for('static', filename='webpage/img/profile.png') }}" alt="Profile Photo"
                class="rounded-circle" width="40" height="40">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="{{ url_for('seeker.viewprofile') }}">View Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for('recruiter.post_job') }}">Post a Job</a></li>
              <li><a class="dropdown-item" href="{{ url_for('recruiter.posted_jobs') }}">Posted Jobs</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  